body {
  background: #000;
}

/* header */

.header {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  border: 10px solid #000;
}

.header__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("./kroz/arquivos-cliente/foto-kroz.png");
  height: 100%;
  width: 100%;
}

.menu__list {
  display: flex;
  position: absolute;
  bottom: 30px;
  gap: 28px;
}

.menu-item__link {
  font-family: "IM Fell English 2";
  font-size: 24px;
  line-height: 16px;
  color: #FFF;
  list-style: none;
  text-decoration: none;
}

.menu-item__link:hover {
  text-decoration: underline;
}

.menu-item__divisor {
  font-family: "IM Fell English 2";
  font-size: 24px;
  line-height: 16px;
  color: #FFF;
}

.banner-section__container {
  margin-top: -60px;
}

.banner-artists__list {
  display: flex;
  gap: 54px;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.banner-artists__title {
  max-width: 120px;
  width: 100%;
  font-family: "IM Fell English 2";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
}

.banner-artists__divisor  {
  font-family: "IM Fell English";
  font-size: 30px;
  line-height: 30px;
  color: #FFF;
}

.shows__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 54px;
}

.shows__container, .albuns__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.shows-title__divisor, .shows__title, .albuns-title__divisor, .albuns__title {
  font-family: "New Rocker";
  font-size: 72px;
  line-height: 16px;
  color: #EE3230;
}

.shows-title__divisor {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 163px;
  width: 100%;
  height: 65px;
}

.shows-title__container, .albuns-title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.shows__title {
  text-transform: uppercase;
}

.shows__subtitle, .albuns__subtitle {
  font-family: "IM Fell English";
  font-size: 18px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.4);
}

.shows-calendar__container {
  max-width: 1920px;
  width: 100%;
}

.shows-calendar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shows-calendar__list li:first-child {
  border-top: 3px solid rgba(255, 255, 255, 0.12);
  border-bottom: 3px solid rgba(255, 255, 255, 0.12);
}

.shows-calendar__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 20px 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.12);

}




.shows-calendar__day {
  font-family: "IM Fell English 2";
  font-size: 36px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.4);
}

.shows-calendar__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "IM Fell English 2";
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-left: 32px;
}

.shows-more-info__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}


.italic {
  font-family: "IM Fell English";
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
}

.show-more-info__link {
  font-family: "IM Fell English 2";
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.show-more-info__link:hover {
  color: white;
  text-decoration: underline;
}

.shows-calendar__btn {
  background-color: transparent;
  border-top: 2px solid #EE3230;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #EE3230;
  padding: 16px 16px;
}

.shows-calendar__btn:hover .shows-calendar-btn__link {
  color: white;
}

.shows-calendar-btn__link {
  text-decoration: none;
  font-family: "IM Fell English";
  font-size: 24px;
  line-height: 16px;
  color: #EE3230;
}

.albuns__section {
  padding: 40px;
  margin-top: 62px;
  background: #EE3230;
}

.albuns-title__divisor {
  margin-bottom: 20px;
  color: white;
}

.albuns-title__container {
  gap: 42px;
}

.albuns__title {
  text-transform: uppercase;
  color: white;
}

.albuns__subtitle {
  color: rgba(0, 0, 0, 0.6);
}

.albuns-disc__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 20px;
}

.albuns-disc__title {
  font-family: "IM Fell English";
  font-size: 18px;
  line-height: 16px;
  color: #FFF;
}

@media (max-width: 1024px) {
  .shows-calendar__item {
    width: 74%;
  }

  .albuns__section {
    padding: 20px;
  }

  .albuns-disc__container {
    flex-direction: column;
  }
}