@font-face {
  font-family: 'IM Fell English';
  src: url('./IM_Fell_English/IMFeENit28P.ttf') format('opentype');
}

@font-face {
  font-family: 'IM Fell English 2';
  src: url('./IM_Fell_English/IMFeENrm28P.ttf') format('opentype');
}

@font-face {
  font-family: 'New Rocker';
  src: url('./New_Rocker/NewRocker-Regular.ttf') format('opentype');
}